<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Face Recognition</title>
	</head>

	

	<body>
		<!-- Navbar -->
		{% include 'nav.html' %}
        {% block content %}
        <h1 style="width:100%;text-align:center;margin-top:30px;">Welcome in Face Recognition App  </h1>
        <div style="justify-content:center;display:flex;margin-top:30px;"><img  src="{{ url_for('video') }} ">
        <h4><a href="{{ url_for('name') }}"></a></h4>
        </div>
        {% endblock  %}

		{% include 'dashboard.footer.html' %}
	</body>

	{% comment %} <!-- Graph Script -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.1/chartjs-plugin-zoom.min.js"></script>

	<script src="{{url_for('static', filename='js/mk_graph.js')}}"></script>

	<!-- Chart Script -->
	<script src="https://cdn.jsdelivr.net/gh/tomik23/circular-progress-bar@1.1.9/dist/circularProgressBar.min.js"></script>

	<script
		type="text/javascript"
		src="{{url_for('static', filename='js/mk_charts.js')}}"
	></script>

	<script
		type="text/javascript"
		src="{{url_for('static', filename='js/refresh_charts.js')}}"
	></script> {% endcomment %}
</html>
